[user]
	name = eveeify
	email = eveeg1971@gmail.com
[pull]
	rebase = true
[rebase]
	autoStash = true
[push]
	autoSetupRemote = true
[diff "lockb"]
	binary = true
	textconv = bun

[credential "https://codeberg.org"]
	helper = !/Users/eveeify/.cargo/bin/fjo auth git-credential